:root {
    --primary-color: #9ab2c2;
    --secondary-color: #333;
    --font-family: 'Arial, sans-serif';
}

body {
    font-family: var(--font-family);
    background-color: whitesmoke;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-weight: bold;
}

span {
    font-weight: normal;
    color: var(--primary-color);
}
